
     <script type="text/ng-template" id="information">
          <div class="modal-header">
              <h3 class="modal-title">{{actualTrack.name}}</h3>
          </div>
          <div class="modal-body">
                <h5 class="modal-title">{{actualTrack.description}}</h5>
               <iframe src="{{actualTrack.iframe_url | trusted }}" width=100% height=300px frameborder="0" allowfullscreen=""></iframe>
          </div>
          <div class="modal-footer">
          </div>
      </script>

      <script type="text/ng-template" id="voteConversation" >
          <div class="modal-header">
              <h4 class="modal-title">{{title}}</h4>
          </div>
          <div class="modal-body">
                <h5 class="modal-title">{{trackNameToVote}}</h5>
          </div>
          <div class="modal-footer" >
           <span ng-if=showButtons>
                  <button class='btn btn-primary' ng-click='ok()'>Tak</button>
                  <button class='btn btn-warning' ng-click='cancel()'>Nie</button>
              
           <span>
          </div>
      </script>
