 <script type="text/ng-template" id="modalForVote.html" >
          <div class="modal-header">
              <h4 class="modal-title">{{title}}</h4>
          </div>
          <div class="modal-body">
                <h5 class="modal-title"></h5>
          </div>
          <div class="modal-footer" >
           <span ng-if=showButtons>
                  <button class='btn btn-primary' ng-click='ok()'>Tak</button>
                  <button class='btn btn-warning' ng-click='cancel()'>Nie</button>
              
           <span>
          </div>
      </script>
