<div class="row">
<div class="col-lg-12" >
                <h1 class="page-header" ></h1>
            </div>
			<div class='text-center col-lg-2 col-md-4 col-xs-5 thumb'>
			<div>WYBIERZ SWOJĄ TRASĘ,<br>
				JEŚLI PROBLEM CIĘ <br>
				DOTYCZY
			</div>
			<img class="center-block" src="img/hand.png" width="110px"/> 
				
			</div>
    
      <track-pictogram ng-controller="TracksController as tracks"> </track-pictogram>
       <div ng-include="'views/modalForVote.html'"></div>

         <div ng-include="'views/modalWithInformation.html'"></div>
     
    
</div>