
.pictogram{ transition: all .2s ease-in-out; }
.pictogram:hover { transform: scale(1.01); }
nav{
    margin:0;
}

.thumbnail{
    border:0;
}
#map{
    width:100%;
}


@media (max-width: 520px) {
.col-xxs-12{
    width:100%;
}

.rotated-90-degrees{
-ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        -o-transform-origin: rotate(90deg);
        transform: rotate(90deg);
        display: block;
    margin: 0 auto;
    top:20%;
    position:relative;

}

.big-hand{
    margin: 0 auto;
    margin-top: 17%;
}
.shrink > .empty{
    display: none;

}

}

.modal-map {
    text-align:center;
    width:100%;
}
iframe{
    width:100%;
}

.modal-header {
    background: #FFCF40;
    padding: 1px 5px 1px 10px;
}
.modal-header > .close {
    font-size: 32pt;
    color: #16214A;
    text-shadow: none;
    opacity: 1;
}

.modal-content {
    border-style: solid;
    border-color: #FFCF40;
    border-width: 5px;
    background: radial-gradient(white 60%, #e4e5e8 80%);
}

.modal-dialog {
margin-top:150px;
}

.pictogram-sizing{
    height:200px;
}

@keyframes kw_anim{
  0% {transform:rotate(270deg);}
  25% {transform:rotate(300deg);}
  75% { transform:rotate(330deg);}
  100% {transform:rotate(360deg);}
}
.hand:hover{
    animation: kw_anim ease-in-out 0.5s 1;
    animation-fill-mode: forwards; 
}
.hand{
    transform: rotate(270deg);
}

.pictogram-width{
   width:250px;
}
.vote-bar-item{
    display: inline-block;
}
.hand-with-count{
    margin:0;
    padding: 0;
}
.vote-bar-information{
    font-size:9px;
    margin-left:15px;
    margin-right:0;
    padding-right:0;
    margin-top:10px;
}

.number-of-votes{
    position: absolute;
    bottom: 4px;
    right: 5px;
}
.vote-bar{
    width:300px;
    margin:0 auto;
}

@media (min-width: 550px) {
    nav{
     position: fixed;
     background-color: white;
     width:100%;
     z-index: 10;
     top:0;
    }
    .logo{
       margin-left:0 !important;
    }
    .introduction{
        background: url("../img/tlo.svg") ;
        background-size: 100%;
        background-repeat:no-repeat;
    }

    .introduction{
        height: 1000px
    }

    .text{
        padding-top: 25%;
    }
    main{
         padding-top: 150px;
    }
}

nav{
    max-width:1400px;
}
.mail{
        margin-left: 17%;
        position:absolute;
        top:30px;
}

.container{
    
    font-family:Source Sans Pro Black, sans-serif;
    line-height: 25px;
    font-size:15px;
    font-weight: bold;
    color: #000033;


}

.big-hand{
    margin-left: 25%;
}

nav{
   // Animation
   -webkit-transition: all 1s ease;
   transition: all 1s ease;
}

nav.shrink {
  height: 70px;
}


.logo.shrink{
    height:60px;
}

.about.shrink{
    height:40px;
}

.all-copy p { 
text-align: center;
  -webkit-user-select: all;  /* Chrome all / Safari all */
  -moz-user-select: all;     /* Firefox all */
  -ms-user-select: all;      /* IE 10+ */
  user-select: all;          /* Likely future */   
}