
.img-responsive{ transition: all .2s ease-in-out; }
.img-responsive:hover { transform: scale(1.01); }




@media (max-width: 990px) {
	.header-information {
	       text-indent: 100%;
		  white-space: nowrap;
		  overflow: hidden;
		  color:transparent;
	}
	.mainInformation:before{
		content: "MASZ PROBLEM Z DOJAZDEM DO\a WYBRANEGO MIEJSCA NA MAPIE\a WOJEWÓDZTWA ŚLĄSKIEGO?";

	}
	.mainInformation{
		width: 250px;
    	margin-bottom: 30;
	}
	.textWithHand{
		margin-top: 10px;
	}
	.container{
		margin-left: 9%;
	}
}

@media (min-width: 550px) {
	.thumbnail>img{
		margin:0px;
	}

}

@media (max-width: 320px) {
	.informations{
    	margin-left: 30 !important;
	}

	.big-hand{
	    margin-left: 20%;
	}
	.logo{
		margin-left: -20;
	}

}

@media (max-width: 375px) {
	.informations{
    	margin-left: 60px;
	}
}

@media (max-width: 550px) {
	.mail{
	margin: 0 auto;
}
	.informations{
		width:300px !important;
    	margin-left: 80px ;
	}
	.header{
		margin:10%;

	}
	.logo{
		padding: 0;
	}
	.col-xxs-12{
		width:100%;
	}
	.big-hand{
		-ms-transform: rotate(90deg); /* IE 9 */
	    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	    transform: rotate(90deg);
	    margin-left: 160px;
	    margin-top: -80;
	}
	.thumb{
		padding: 0;
	}
		.container{
		margin-left:0;
	}
}

body {
    padding-top: 0px; 
}


header{
	margin-bottom: 60;
	margin-top: 40;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/gears.svg') 50% 50% no-repeat ;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {

	max-height:200px;
	max-width:300px;
}


.container{
	
	font-family:Source Sans Pro Black, sans-serif;
	line-height: 25px;
	font-size:15px;
	font-weight: bold;
	color: #000033;


}
#infoBlock{
	  position:relative;
	  float:right;
	  clear:none;
	  overflow:hidden;
}
#cloudInfo{
	 position:relative;
	  z-index:1;
	width:100%;
	
}
#info{
 display:block;
	  position:absolute;
	  width:80%;
	  top:20%;
	  z-index:2;
	  text-align:center;
}


.modal-header
{
	background: #FFCF40;
	
}
.modal-content {
border-style: solid;;
border-color:#FFCF40;
border-width:5px;
}

.modal-dialog {
	margin: auto;
  overflow-y: auto;
	
}
#map{
	display: block;
    margin-left: auto;
    margin-right: auto ;
	margin-top:20px;
	border:0; 
	width:900px;
}
@keyframes kw_anim{
  0%{transform:rotate(270deg);}
  25% {transform:rotate(300deg);}

  75% { transform:rotate(330deg);}
  100% {transform:rotate(360deg);}
    
  }
.hand:hover{

    animation: kw_anim ease-in-out 0.5s 1;
	  animation-fill-mode: forwards; 
}
.hand{
    transform: rotate(270deg);
}



@media screen and (max-width: 550px) {
   .VoteBar {
    padding-left: 40%;
  }
  .thumb{
	  width:100%;
  }
}

@media screen and (min-width: 550px) {
      .VoteBar {
    padding-left: 70%;
  }
}


.text{ 
	width:340px;
	height:217px;
	background:#FFF; 
	opacity:0; 
}
.thumbnail{
	border:0px;
}

.hand{
	width:40px;
	display: inline-block;
	
}

.underSquare{
	display:inline-block;	 
}
 #map {
    width: 100%;
    height: 100%;
}
.img-responsive{
	padding: 0;
}

